.button {
  border-radius: 8px;
  border: none;
  appearance: none;
  display: inline-flex;
  padding: 16px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 135%;
  cursor: pointer;
  color: var(--color-standart-white);
  background-color: var(--color-brand-normal);
  transition:
    color $transition-duration $transition-function,
    border-color $transition-duration $transition-function,
    background-color $transition-duration $transition-function;

  &:hover,
  &:focus-visible {
    background-color: var(--color-brand-hover);
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
    background-color: var(--color-brand-normal);
  }
}
