@use '@/assets/scss/general/variables' as *;

@mixin line-clamp($lines: 1) {
  @if $lines <= 1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    text-overflow: ellipsis;
  }
}

/* Typography */
@mixin typo-h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 40px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 32px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 24px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 20px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-s1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 20px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-s2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 18px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-s3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 16px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-p1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 20px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-p2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 18px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-p3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 16px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-p4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 14px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-big {
  font-size: 34px;
  font-weight: 500;
  line-height: 120%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 68px;
    line-height: 120%;
  }
  /* stylelint-enable */
}

@mixin typo-hf-plus {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 24px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-hf {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 24px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 20px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin typo-text-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  text-decoration: underline;
  text-underline-offset: 4px;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 20px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin text-interactive {
  color: var(--color-brand-normal);
  transition: color $transition-duration $transition-function;

  &:hover,
  &:focus-visible {
    color: var(--color-brand-hover);
  }

  &:disabled {
    color: var(--color-brand-disabled);
    cursor: default;
    pointer-events: none;
  }
}

@mixin typo-meta {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;

  /* stylelint-disable */
  @media screen and (min-width: $md) {
    font-size: 28px;
    line-height: 130%;
  }
  /* stylelint-enable */
}

@mixin user-content {
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;

    /* stylelint-disable */
    @media screen and (min-width: $md) {
      font-size: 20px;
      line-height: 130%;
    }
    /* stylelint-enable */
  }

  p:not(:first-child) {
    margin-top: 8px;
  }

  p:not(:last-child) {
    margin-bottom: 8px;
  }

  a {
    text-decoration: none;

    @include text-interactive;
  }
}
