.service-card {
  height: 100%;
  position: relative;
  border-radius: 12px;
  padding: 16px;
  background-color: var(--color-background-color-2);

  @media screen and (min-width: $md) {
    padding: 24px;
  }

  &__wrapper {
    display: grid;
    gap: 16px;
    height: 100%;

    @media screen and (min-width: $md) {
      gap: 24px;
    }
  }

  &__image-container {
    border-radius: 8px;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      padding-top: calc(100% / (296 / 200));

      @media screen and (min-width: $md) {
        padding-top: calc(100% / (389 / 200));
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin-bottom: 12px;

    @include typo-h3;

    @media screen and (min-width: $md) {
      margin-bottom: 16px;
    }
  }

  &__description {
    @include typo-p3;

    color: var(--color-text-2);
  }

  &__link-container {
    align-self: flex-end;
  }

  &__link {
    @include typo-link;
    @include text-interactive;
  }
}
