@font-face {
  font-family: Onest;
  src:
    url('~/assets/fonts/Onest/Onest-Thin.woff2') format('woff2'),
    url('~/assets/fonts/Onest/Onest-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    url('~/assets/fonts/Onest/Onest-ExtraLight.woff2') format('woff2'),
    url('~/assets/fonts/Onest/Onest-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    url('~/assets/fonts/Onest/Onest-Light.woff2') format('woff2'),
    url('~/assets/fonts/Onest/Onest-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    url('~/assets/fonts/Onest/Onest-Regular.woff2') format('woff2'),
    url('~/assets/fonts/Onest/Onest-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    url('~/assets/fonts/Onest/Onest-Medium.woff2') format('woff2'),
    url('~/assets/fonts/Onest/Onest-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    url('~/assets/fonts/Onest/Onest-SemiBold.woff2') format('woff2'),
    url('~/assets/fonts/Onest/Onest-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    url('~/assets/fonts/Onest/Onest-Bold.woff2') format('woff2'),
    url('~/assets/fonts/Onest/Onest-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    url('~/assets/fonts/Onest/Onest-ExtraBold.woff2') format('woff2'),
    url('~/assets/fonts/Onest/Onest-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    url('~/assets/fonts/Onest/Onest-Black.woff2') format('woff2'),
    url('~/assets/fonts/Onest/Onest-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
