/* main.css */

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-standart-dark: #0d1234;
  --color-standart-gray-medium: #70717a;
  --color-standart-gray: #83869e;
  --color-standart-gray-light: #c0c1ca;
  --color-standart-gray-lightest: #f4f4f4;
  --color-standart-white: #fcfcfc;
  --color-service-error: #ff2727;
  --color-service-disabled: #83869e50;

  /* theme */
  --color-text: var(--color-standart-dark);
  --color-background-color: var(--color-standart-white);
}
