/* main.css */

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-brand-normal: #1774e1;
  --color-brand-hover: #1a97ff;
  --color-brand-disabled: #098fff50;
  --color-standart-dark: #0d1234;
  --color-standart-gray-medium: #70717a;
  --color-standart-gray: #83869e;
  --color-standart-gray-light: #c0c1ca;
  --color-standart-gray-lightest: #f4f4f4;
  --color-standart-white: #fcfcfc;
  --color-service-error: #ff2727;
  --color-service-disabled: #83869e50;

  /* theme */

  --color-text: var(--color-standart-dark);
  --color-text-2: var(--color-standart-gray);
  --color-background-color: var(--color-standart-white);
  --color-background-color-2: var(--color-standart-gray-lightest);
}
