.about-us {
  margin: 16px 0;
  padding: 40px 0;

  @media screen and (min-width: $md) {
    margin: 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 16px;

    @media screen and (min-width: $md) {
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;
    }
  }

  &__heading {
    grid-column: span 4 / span 4;

    @media screen and (min-width: $md) {
      grid-column: span 5 / span 5;
    }
  }

  &__content {
    grid-column: span 4 / span 4;

    @media screen and (min-width: $md) {
      grid-column: span 6 / span 6;
      grid-column-start: 7;
    }
  }

  &__title {
    span {
      color: var(--color-brand-normal);
    }

    @include typo-h2;
  }

  &__texts {
    margin-bottom: 16px;

    @include user-content;

    @media screen and (min-width: $md) {
      margin-bottom: 24px;
    }
  }

  p {
    opacity: 0;
  }
}
