.case-card {
  border-radius: 12px;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: $md) {
    border-radius: 16px;
  }

  &::after {
    content: '';
    display: block;
    padding-top: calc(100% / (328 / 328));

    @media screen and (min-width: $md) {
      padding-top: calc(100% / (437 / 437));
    }
  }

  &__link {
    color: currentcolor;
    transition: color $transition-duration $transition-function;

    &:hover,
    &:focus-visible {
      color: var(--color-brand-hover);

      img {
        transform: scale(1.05);
      }
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $transition-duration $transition-function;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;

    @media screen and (min-width: $md) {
      padding: 16px;
    }
  }

  &__tile {
    border-radius: 8px;
    max-width: max-content;
    padding: 12px;
    background-color: var(--color-background-color);
  }

  &__title {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include typo-s3;
  }
}
